.select-country {
  width: 100%;
  height: 100%;

  padding-top: 1px;
}

.select-country__white {
  background-color: antiquewhite;
}

.select-country__dark {
  background-color: #4d5a75;
}

.select-country__wrapper {
  width: 50%;
  max-width: 1100px;
  margin: 100px auto;
  
  display: flex;
  flex-direction: column;
  background-color: #a9d0f2;

  box-shadow: 1px 1px 3px rgb(207, 169, 169);
}

.select-country__flag {
  height: 160px;
  max-width: 400px;
  margin: 0 auto;
}

.select-country__title {
  margin: 0 0 25px 0;
}

.select-country__info {
  margin: 30px 0 30px;
}

.select-country__field {
  margin-top: 10px;
}

.select-country__field-name {
  font-weight: 600;
}

.select-country__languages-wrapper {
  margin-top: 20px;
}

.select-country__languages {
  padding: 0;
  list-style-type: none;
}

.select-country__neighbors {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.select-country__neighbors-item {
  margin: 10px 10px;
  width: 100px;
  padding: 10px 8px;
  border: 1px solid rgb(216, 187, 187);
  font-size: 14px;
  border-radius: 12px;
}

.select-country__nav-btn {
  border-radius: 12px;
  padding: 10px 8px;
  border: 1px solid black;
  cursor: pointer;
  font-size: 16px;
  min-width: 100px;

  margin-top: 40px;
}