.country {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;

  box-shadow: 1px 1px 3px rgb(207, 169, 169);
}

.country__flag {
  height: 160px;
}

.country__title {
  margin: 0 0 25px 0;
}

.country__info {
  margin: 30px 0 30px;
}

.country__field {
  margin-top: 10px;
}

.country__field-name {
  font-weight: 600;
}

